<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.domain.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.domain.entity.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="bug_number" property="bugNumber" jdbcType="BIGINT" />
    <result column="sold_out_number" property="soldOutNumber" jdbcType="BIGINT" />
    <result column="on_sale_number" property="onSaleNumber" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
  </resultMap>
  <select id="selectByUserName" resultMap="BaseResultMap">
    select * from user_info where user_name = #{userName} and is_deleted = 0
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    select * from user_info where id = #{userId} and is_deleted = 0
  </select>


</mapper>